.civs-view {
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    margin-top: 20px;
    background-color: rgba(245, 245, 245, 0.5);
    border: 10px solid rgba(245, 245, 245, 0.75);
    border-radius: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.civ-icon {
    display: inline-block;
    margin: 1%;
    background-color: red;
    cursor: pointer;
}

.civ-logo {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}