
.building {
    background-color: rgb(146 38 2);
    font-size: 50%;
    width: 10vw;
    height: 10vw;
}

.image {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

.label {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
}
